@font-face {
    font-family: redRessed;
    src:url("Fonts/redressed/Redressed.ttf");
}
/*Heading font*/
@font-face {
    font-family: yellowTail;
    src:url("Fonts/yellowtail/Yellowtail-Regular.otf");
}
body{
    width: 600px;
    margin: 0 auto;
    font-size: 14pt;
    text-align: center;
}
body p{
    font-family: redRessed;
}
h1{
    font-family: yellowTail;
}
#output .validations{
    height: 25px;
    width: 70px;
    border: none;
    /*padding: 7px;*/
}
#puzzlearea {
    width: 400px;
    height: 400px;
    font-size: 0px; /* Removes the space created from newlines in children inline-block elements */
    position: relative;
    border: 2px solid black;
    margin: 0 auto;
/*    background-color: red;    Make sure that we don't see any red */
}
.tile {
    border: 4px solid black;
    background: url(background.jpg);
    width: 90px;
    height: 90px;
/*    position: absolute;*/
    display: inline-block;
}
.tileNumber {
    text-align: center;
    font-size: 40pt;
    font-family: cursive;
    line-height: 90px;
    margin: auto;
}
.slot {
    position: absolute;
    width: 98px;
    height: 98px;
    border: 1px solid white;
    display: inline-block;
    font-size: 0px;
}